@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*body {
    font-family: "Shadows Into Light", serif;
    font-weight: 400;
    font-style: normal;
*/

table {
    margin: 5vw;
}
  
.top-button {
    margin-top: 2vw;
}

.radio {
    display: block;
}

label {
    display: inline;
}

#go-to-top {
    display: block;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 2;
}